name: Check

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  check:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:

      - name: リポジトリのチェックアウト
        uses: actions/checkout@v4

      - name: Javaのセットアップ
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: temurin

      - name: Gradleキャッシュの設定
        uses: gradle/actions/setup-gradle@v4
        with:
          cache-read-only: ${{ github.ref != 'refs/heads/main' }}

      - name: ビルドとテスト
        run: bash gradlew clean build --stacktrace --info

      - name: レポートをアップロード
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: test-report
          path: build/reports
          retention-days: 7
