name: Check

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  check:
    runs-on: ubuntu-latest
    steps:

      - name: リポジトリのチェックアウト
        uses: actions/checkout@v4

      - name: validate gradle wrapper
        uses: gradle/actions/wrapper-validation@v3

      - name: Javaのセットアップ
        uses: actions/setup-java@v3
        with:
          java-version: 17
          distribution: adopt

      - name: Gradleキャッシュの設定
        uses: gradle/actions/setup-gradle@v3
        with:
          cache-read-only: ${{ github.ref != 'refs/heads/main' }}

      - name: ビルドとテスト
        run: bash gradlew clean build --stacktrace --info

      - name: レポートをアップロード
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: test-report
          path: build/reports
          retention-days: 7
